Django==1.6.5
South==1.0
django-bootstrap-breadcrumbs==0.6.3
django-localflavor==1.0
django-tables2==0.15.0
gnureadline==6.3.3
ipython==2.1.0
python-decouple==2.2
selenium==2.42.1
six==1.7.3
wsgiref==0.1.2
yolk==0.4.3
